# python
__pycache__/
*.py[cod]
*.sqlite3
*$py.class


# env
.env
.venv/
venv/


# django
staticfiles/
media/
*/migrations/
!*/migrations/__init__.py
.DS_Store
Thumbs.db
*.log


# IDE
.vscode/
.idea/
.DS_Store
